.About {
  padding-top: 0px;
  .Mauris_id_bibendum_est__Proin_dapibus_sollicitu {
    background-image: url("images/Mauris id bibendum est. Proin dapibus sollicitudin iaculis, Mae.png");
    position: absolute;
    margin: 0px;
    left: 85px;
    top: 793px;
    width: 523px;
    height: 90px;
    z-index: 16;
  }
  .In_maximus_euismod_egestas__Fusce_tincidunt_pos {
    background-image: url("images/In maximus euismod egestas. Fusce tincidunt posuere est non ele.png");
    position: absolute;
    left: 84px;
    top: 905px;
    width: 581px;
    height: 113px;
    z-index: 15;
  }
  .Layer_26 {
    background-image: url("images/Layer 26.png");
    position: absolute;
    left: 682px;
    top: 777px;
    width: 600px;
    height: 336px;
    z-index: 14;
  }
}  