@import "variables";

.footer {
    height: 150px;
    width:100%;
    margin-top: 1540px;
    margin-bottom: 0;
    padding: 0;
    background-color:$primary-color;
    z-index: -333;
    ul {
      list-style-type: none;
      margin: 25px;
      padding: 60px;
      overflow: hidden;
      }
      
    li{
      float: right;
      color: white;
    }

    li a {
      display: block;
      color: white;
      text-decoration: none;
    
      }
    
      li a:hover {
      color:blue;
      }

    i{
     margin-left: 10px;
    }
}  